body {
    background: rgb(255, 255, 255);
    background-image: url(../img/backport.jpg);

    color: rgb(0, 0, 0);


}

header {
    background-color: hsl(0, 0%, 26%);
    color: rgb(255, 255, 255);
    opacity: 80%;
    border-radius: 2px;
    height: 5vh;
}

.main {
    background: #00121a;
    border-radius: 8px;
    color: rgb(255, 255, 255);
    opacity: 80%;
}

aside {
    color: rgb(255, 255, 255);
}

.cor {
    background: #00364de3;
    color: rgb(255, 255, 255);
    border-radius: 7px;
}

footer {
    background: #00121a;
    color: rgb(255, 255, 255);
    text-align: center;
}


@media (max-width: 600px) {
    @media (max-width: 600px) {
        .mudartamanho {
            font-size: 14px;
        }
    }
}